name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:  # Разрешает ручной запуск

permissions:
  contents: write  # Нужно для записи в ветку gh-pages

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: '3.38.5'  # Укажите вашу версию
    
    - name: Install dependencies
      run: flutter pub get
    
    - name: Build Flutter Web
      run: flutter build web --release --web-renderer html --base-href /mtg-stats/
      
    - name: Setup Pages
      uses: actions/configure-pages@v3
    
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v2
      with:
        path: './build/web'
    
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v2